@import "./header.scss";
@import "./app.scss";
@import "./footer.scss";
@import "./modal.scss";
@import "./variable.scss";

body {
  margin: 0;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.main {
  flex: 1;
  min-height: calc(100vh - 106px - 40px);
  display: flex;
  flex-direction: row;
}
